*{margin:0 auto;padding:0;}
a{text-decoration: none;color: inherit;}
#imgslide{width: 100%;height: 400px;position: relative;}
.imgs{width: 100%;height: 400px;position: relative;overflow: hidden;
	border:1px solid #ccc;}
.imgs>img{width: 600px;height: 400px;position: absolute;transition: all 0.2s;
}
#btn_dot{width: 100%;height:20px;margin-top: 20px;text-align: center;}
.dot{width: 10px;height: 10px;border-radius: 50%;background-color: #aaa;
cursor: pointer;display: inline-block;}

.btn_play, .btn_stop{width: 20px;height: 20px;margin-top: 20px;text-align:center;
color: purple;font-weight: bold;cursor: pointer;display: none;}
.btn_prev{width: 50px;height: 100px;position: absolute;left: 5%;top:130px;
color: #fff;font-size: 5em;line-height: 1.0em;text-align:center;}
.btn_prev:hover{background-color: rgba(0,0,0,0.5);box-shadow: 5px,5px,5px #000;
border-radius: 10px;}

.btn_next{width: 50px;height: 100px;position: absolute;right: 5%;top:130px;
color: #fff;font-size: 5em;line-height: 1.0em;text-align:center;}
.btn_next:hover{background-color: rgba(0,0,0,0.5);box-shadow: 5px,5px,5px #000;
border-radius: 10px;}