*{
	margin: 0 auto;padding:0;
	list-style: none;font-family: "맑은 고딕";
}

a{text-decoration: none;color: inherit;}

#header{
	width: 1000px;height: 110px;
}
.logo{
	width: 250px;height: 110px;
	background-color: red;
	float: left;
}
.menu{
	width: 750px;height: 110px;
	background-color: yellow;
	float: left;
}
#imgslide{
	width: 1000px;height: 400px;
	background-color: pink;
}
#contents{
	width: 1000px;height: 500px;
	
}
.content1{
	width: 500px;height: 500px;
	background-color: gray;
	float: left;
}
.content2{
	width: 500px;height: 500px;
	background-color: navy;
	float: left;
}
#footer{
	width: 1000px;height: 150px;
	background-color: aliceblue;
}