@charset "utf-8";
*{
	margin:0 auto;padding:0;
	list-style:none;font-family:"맑은 고딕";
}
a{
	text-decoration:none;color:inherit;
}
#imgslide{width: 1000px;height: 350px;position: relative;overflow: hidden;}
#slides{width: 1000px;height: 350px;}
#slides li{display:none;}
#slides li:first-child{display: block;}
#slides li img{width: 1000px;height: 350px;}
.btn_slides{
	position: absolute;
	left: 50%;transform:translateX(-50%);
	bottom: 5%;color: #fff;
}
.btn_slides a.off{cursor: default;opacity: 0.5;}